$main-color: #00796B;
.modal-btn {
  padding: 5vw;
  color: $main-color;
	font-size: 10vw;
	font-weight: bold;
  outline: solid $main-color 1.5vw;
  cursor: pointer;
}

@media (max-width: 600px) {  
	#modal-toggle:checked ~ .modal-backdrop {
		opacity: 0;
	}
	
	.modal-content {
    top: 0;
		left: 0;
		height: 100vh;
    width: 100vw;
	}
}

/* BASIC FUNCTIONALITY .tabs */
.tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
    
  &>.radio {
    display: none;
    
    &:checked + .table + .tabs-content {
      display: block;
    }
  }
  
  &>.table {
    order: -1;
    flex-basis: 50%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
    
  .tabs-content {
    width: 100%;
    display: none;
  }
}
/* END BASIC FUNCTIONALITY .tabs */



/*  THEME for .tabs with login & sign-in  */
.tabs > {
  .table {
    padding: 20px 0;
    text-align: center;
    border-bottom: solid $main-color 5px;
    color: $main-color;
    cursor: pointer;
  
    span {
      font-weight: 600;
    }
    
    &:hover {
      color: $main-color;
      background: rgba($main-color, 0.2);
    }
  }
    
  .radio:checked + .table {
    color: #fff;
    background: $main-color;
    cursor: auto;
    
    span {
      display: inline-block;
      font-weight: 500;
      transform: scale(1.2);
      transition: 0.1s;
    }
  } 
} 
/*  END THEME for .tabs with login & sign-in  */



/*  START style login & sign up  */
.tabs > .tabs-content {
  form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    
    input {
      padding: 10px;
      margin: 15px 0;
      border: none;
      border-bottom: solid 1px $main-color;
      font-size: 18px;
      letter-spacing: 1px;
      transition: 0.1s;
    
      &:focus {
        transform: translateX(10px);
        outline: none;
      }
    }
  }
    
  input[type="submit"] {
    padding: 15px 0;
    width: 100%;
    background: $main-color;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
  
    &:focus {
      transform: none;
    }
  }
    
  .forgot-password label {
    margin: 0 auto;
    width: 50%;
    color: $main-color;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    
    &:hover {
      text-decoration: underline;
    }
  }
} 
/*  END style login & sign up  */
